<!DOCTYPE html>
<html>
<head>
	<title>Products</title>
</head>
<body>
<a href="{% url 'logout' %}">Logout</a>
<h1>Products</h1>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
	{% for product in products %}
		<tr>
			<td>{{product.name}}</td>
			<td>{{product.description}}</td>
			<td>{{product.price}}</td>
			<td> <a href="">Show</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<a href="{% url 'add_product' %}">Add a new product</a>
</body>
</html>