<!DOCTYPE html>
<html>
<head>
	<title>Courses</title>
	{% load staticfiles %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static '/courses/css/style.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<h2>Add a new course</h2>
	<form action="/courses" method="post">
		{% csrf_token %}
		<label for="">Name</label>
		<input type="text" name="name" placeholder="name" />
		<label for="">Description</label>
		<textarea name="description" placeholder="description"></textarea>
		<input type="submit" value="Submit">
	</form>
	<h2>Courses</h2>
	<table>
	<tr>
		<th>Course Name</th>
		<th>Description</th>
		<th>Date Added</th>
		<th>Actions</th>
	</tr>
	{% for course in courses %}
	<tr>
		<td>{{ course.name }}</td>
		<td>{{ course.description }}</td>
		<td>{{ course.created_at }}</td>
		<td><a href='{% url "course_delete:courseDelete" id=id %}'>remove</a></td>
	</tr>
	{% endfor %}
</table>
</body>
</html>