<html>
<head>
    <title></title>
    {% load staticfiles %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static '/book/css/style.css' %}" />
</head>
<body>
    <a href="{% url 'books' %}">Home</a>
    <a href="{% url 'logout' %}">Logout</a>
    <h1>Welcome, <a href="{% url 'show_user' user_id=user.id %}">{{user.first_name}}</a>!</h1>
    <h2><a href="{% url 'add_book' %}">Add Book and Review</a></h2>
    <h3>Recent Book Reviews</h3>
    {% for review in reviews %}
        <h2><a href="{% url 'show_book' book_id=review.book.id %}">{{review.book.title}}</a></h2>
        <h6><a href="{% url 'show_user' user_id=review.user.id %}">{{review.user.first_name}}</a> says: {{review.text}} </h6>
        <h6>{{review.user.first_name}}'s Rating: {{review.rating}}</h6>
        <p>Posted on: {{review.created_at}}</p>
        <hr>
    {% endfor %}
        <h4>Other Books with Reviews</h4>
    {% for book in books %}
        <h5><a href="{% url 'show_book' book_id=book.id %}">{{book.title}}</a></h5>
    {% endfor %}
    <hr>
</body>
</html>