<html>
<head>
    <title>Secrets App</title>
    {% load staticfiles %}
    <!-- The line above tells Django to be ready to listen for static files -->
    <link rel="stylesheet" href="{% static '/secrets/css/style.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <h1>Welcome {{ user.first_name }}</h1>
    <a href="{% url 'logout' %}" id="logout">Logout</a>
{# Post area #}
    <p>Add New secret</p>
    <form action="{% url 'create_secret' %}" method="post">
        {% csrf_token %}
        <textarea name="content"></textarea>
        <input type="submit" value="Post Secret" />
    </form>
    <h4>All Secrets</h4>
    <div class="secret">
        {% for secret in secrets %}
            <p>Likes: {{ secret.num_likes }}</p>
            <p>{{ secret.content }}</p>
<!-- Delete Button -->
            {% if user.id == secret.user.id %}
                <form action="{% url 'delete_secret' id=secret.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Delete Secret" />
                </form>
<!-- Like Button -->
            {% elif user not in secret.liked_by.all %}
                <a href="{% url 'like_secret' id=secret.id %}">Like</a>
<!-- Unlike Button -->
            {% else %}
                <a href="{% url 'unlike_secret' id=secret.id %}">Unlike</a>
            {% endif %}
        {% endfor %}
    </div>
</body>
</html>