<html>
<head>
    <title>Success Page</title>
</head>
<body>
    <h1>You're on the success page!</h1>
    <a href="{% url 'logout' %}">Logout</a>

    <h3>My Friends:</h3>
    {% for friend in friends %}
        <p>{{ friend.first_name }} {{ friend.last_name }}</p>
        <form action="{% url 'remove-friend' id=friend.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove friend!" />
        </form>
    {% endfor %}

    <h3>Potential Friends:</h3>
    {% for user in users %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <form action="{% url 'add-friend' id=user.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Add as friend!" />
        </form>
    {% endfor %}
</body>
</html>